/machine_learning/1_assign/data/
/machine_learning/2_assign/data/mnist/
/machine_learning/3_assign/data/
/reinforcement_learning/projs/2proj/pybox2d 
/reinforcement_learning/projs/3proj/experiment/
/reinforcement_learning/projs/3proj/hydra_old/
/deep_learning/1_assign/assignment1_docs/data/
/reinforcement_learning/projs/2proj/pybox2d/
/deep_learning/2_assign/assignment2/part1-convnet/data/cifar10/
/deep_learning/2_assign/assignment2/part1-convnet/data/cifar10
/deep_learning/2_assign/assignment2/part2-pytorch/data/cifar10
/deep_learning/2_assign/assignment2/part2-pytorch/data/cifar10/
/deep_learning/2_assign/assignment2/part2-pytorch/data/cifar-10-batches-py
/deep_learning/2_assign/assignment2/part2-pytorch/data/cifar-10-python.tar.gz
/robotics/PID_ Drone Control/

